<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PresentationLayer.Properties.Settings.SmartHomeSystemDatabaseConnectionString"
            connectionString="Data Source=TAYLORKOOPS;Initial Catalog=SmartHomeSystemDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>